{% extends "GSBCovoitBundle::layout.html.twig" %}

{% block gsbcovoit_body %}

  <h2>Derniers trajets( A faire )</h2>

  <div class="well">
  <p>Trajet 1</p>
  </div>
  
  <div class="well">
  <p>Trajet 2</p>
  </div>

  <div class="well">
  <p>Trajet 3</p>
  </div>

  <div class="well">
  <p>Trajet 4</p>
  </div>

  <div class="well">
  <p>Trajet 5</p>
  </div>

  <div class="well">
  <p>Trajet 6</p>
  </div>

  <div class="well">
  <p>Trajet 7</p>
  </div>


{% endblock %}
